{% extends 'base.html' %}

{% block title %}Sexual Abuse Info{% endblock %}

{% block content %}
<h2>Sexual Abuse Info</h2>
<p>According to the American Psychological Association, sexual abuse is unwanted sexual activity, with perpetrators
    using force, making threats, or taking advantage of victims not being able to give consent. Everyone has the choice
    to decide what they want to do sexually, and not all sexual attacks are violent. Sexual abuse can occur in all
    relationships. Examples include rape or attempted rape, threatening or pressuring someone into sexual activity,
    restricting one’s access to birth control, and unwanted kissing or touching. Sexual abuse can also include
    manipulation into sexual activity and coercion. Play our game to learn how to recognize and act when you see signs
    of sexual abuse. </p>
<a href="{{ url_for('topicreview.sexualabuse') }}">Next</a>
{% endblock %}