* {
    text-align: center;
}


nav {
    background-color: lightblue;
}

main {
    min-height: 78vh;
    background-color: lightblue;
    padding-bottom: 25px;
}

footer {
    height: 12vh;
    line-height: 12vh;
    width: 100%;

    background-color: rgb(148, 191, 205);
}