* {
    text-align: center;
}

.bolding {
    font-weight: bold;
}

nav {
    background-color: lightblue;
}

main {
    min-height: 76vh;
    background-color: lightblue;
    padding-bottom: 25px;
}

footer {
    height: 10vh;
    line-height: 10vh;
    width: 100%;

    background-color: rgb(148, 191, 205);
}