{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<h2>About Us</h2>
<p>The Sailing Bears was founded by Breanna, Emily, and Ryan in hopes of raising more awareness about sexual assault and
    how to combat it. We wanted to create fun ways for our users to stop sexual abuse when they see it and aid others in
    need. We hope to expand our app to provide resources for other social issues such as mental illnesses and domestic
    violence. Feel free to contact us and fill out the suggestions form below!</p>
<img src="{{ url_for('static', filename='groupphoto.jpeg') }}" <p>Suggestions google form?</p>
{% endblock %}